
$sexyblue : #327CCB;
$chrome: #F4F4F4;
$testblue: #0066ff;

$Dankgreen : rgba(0, 102, 0, 0.3);
$Dankblue: rgba(0, 0, 255, 0.3);

$lighterpurple: rgb(166, 77, 255);
$deepurple: rgb(89, 0, 179);

* {
  box-sizing: border-box;
}

html, body{
  height: 100%;
  top: 0;
  margin: 0;
  //background-image: url(imgs/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainwrapper{
  overflow-x: hidden;
  height: 100vh;
  width: auto;
  background: radial-gradient($lighterpurple 2%, $deepurple 98%); /* Standard syntax */
//  text-align: center;
//background-color: rgba(244, 244, 244, 0.1);
}

.welcomewrapper{
  display: inline-block;
  position: relative;
  text-align: center;
  top: 2em;
  //left: 30vw;
  width:100vw;
  height:20em;
  border-radius: 25px;
  //background-color: rgba(244, 244, 244, 0.1);
  //margin-top: 20%;
}

.splashtext{
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 6rem;
  color: white;
  font-weight: bolder;
}

.followtext{
  font-size: 3rem;
  width: 100vw;
  top: 6vh;
  text-align: center;
  position: relative;
  animation-name: textin;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  opacity: 0;
  color: white;
}

.facewrapper{
  display: inline-block;
  position: relative;
  top: 185px;
  width: 100vw;
  height: 120px;
  align-items: center;
}

.face{
  //display: inline-block;
  //position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  background-color: $Dankblue;
  border-style: solid;
}

.eye{
  border-radius: 50%;
  border: 1px solid;
  //border-bottom-color: white;
  position: relative;
display: inline-block;
  width:1.5em;
  height:1.5em;
  margin: 0 auto;
  left: 3em;
  top: 2em;
  background-color: $sexyblue;
}

.lefteye{
  margin-left: 0.6em;
}
.righteye{
  margin-left: 1.6em;
}

.mouth{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  top: 12vh;
  left: 50px;
  border-radius: 50%;
  margin-right: 4vw;
  //background-color: $Dankblue;
  border: 5px solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;

  border-bottom-color: white;
}

.menusliderwrapper{
  border-radius: 5%;
  position: relative;
  display: inline-block;
  background-color: $Dankblue;
  width: 8em;
  height: 25em;
  top: 19em;
  left: 65vw;  //95vw;
}

.toggle{
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 5%;
  padding: 10px;
  width: 5vw;
  height: 5vw;
  //background-color: $sexyblue;
}

.menuwrapper{
  position: relative;
  float: right;
  display: block-inline;
  width: 8em;
  height: 25em;
  top: 19em;
  left: 27vw;
  animation-name: menuout;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.menuitem{
  display: inline-block;
  padding: 1px;
  width: 75px;
  height:  75px;
  margin: 1px;
  cursor: pointer;
}

/*.toggle{
  animation-name: menuout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}*/

/*.menusliderwrapper:hover{
  background-color: red;
  animation-name: menuout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}*/

.switchlogo{
  animation-name: changeface;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes menuout{
  to {
    transform:translateX(-10em);
    border-radius: 5%;
    //background-color: green;
    opacity: 1;
    //border-bottom-color: white;
  //  border-bottom-width: thick;
  }
}

@keyframes changeface{
  to {
    transform: rotate(180deg);
    border-radius: 50%;
    background-color: green;
    opacity: 1;
    border-bottom-color: white;
    border-bottom-width: thick;
  }
}

@keyframes textin{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
