/*.switchlogo{
  animation-name: changeface;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.toggle{
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 5%;
  padding: 10px;
  width: 5vw;
  height: 5vw;
  //background-color: $sexyblue;
}
.menusliderwrapper{
  border-radius: 5%;
  position: relative;
  display: inline-block;
  background-color: $Dankblue;
  width: 8em;
  height: 25em;
  top: 19em;
  left: 65vw;  //95vw;
}

/*.toggle{
  animation-name: menuout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}*/
/*.menusliderwrapper:hover{
  background-color: red;
  animation-name: menuout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes menuout{
  to {
    transform:translateX(-10em);
    border-radius: 5%;
    //background-color: green;
    opacity: 1;
    //border-bottom-color: white;
  //  border-bottom-width: thick;
  }
}

@keyframes changeface{
  to {
    transform: rotate(180deg);
    border-radius: 50%;
    background-color: green;
    opacity: 1;
    border-bottom-color: white;
    border-bottom-width: thick;
  }
}

<!-- Modal
<div class="sectiontwowrapper">
  <div class="col-md-4 boxtext">check</div>
  <div class="col-md-4 boxtext">Check</div>
  <div class="col-md-4 boxtext">Check</div>
</div>
  -->
<!--div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Client Login</h4>
      </div>
      <div class="modal-body">
        <div class="modalwrapper">
          If you are an existing client, please login below to view your project and site analytics
          <form>
          <label>Username </label><input></input>
          <label>Password </label><input></input>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <p>If you are having trouble logging in, please contact me via email</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div-->*/
